.container {
  width: 100%;
  height: 100vh;
  background-color: #ff7043;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .outer {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .count {
      position: absolute;
      font-size: 2rem;
      color: white;
      font-weight: bold;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .dotGroup {
      display: flex;
      gap: 1rem;
      margin-top: 8rem;

      .inner {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
      }
    }
  }
  .button_t {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .button {
    background-color: #24292f;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .footer {
    background-color: #d76845;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
